@model TicketSellingIndexViewModel

@{
    ViewBag.Title = @Literals.TicketSelling;
}

<h2>@Literals.TicketSelling</h2>
<hr />

@if (Model.AvailableSessions.Count() <= 0)
{
    <div class="alert alert-danger">@Literals.NoAvailableSessions</div>
}
else
{
    <div class="row">
        <div class="col-md-5">
            <!-- Sesiones disponibles -->
            <h3>@Literals.AvailableSessions</h3>
            @Html.Partial("_AvailableSessions", Model.AvailableSessions)
            @Html.Partial("_BuyTickets", Model.SelectedSession)
        </div>
        <div class="col-md-7">
            <!-- Butacas disponibles -->
            <div>
                <h3 class="pull-left">nButacas disponibles</h3>
                <h3 class="pull-right"><div class="row">
    <div class="col-md-1">
        <span class="label label-primary">01/01/2015 18:00:00</span>
    </div>
</div></h3>
            </div>
            <br>
<div style="clear: both">
    <table class="table table-condensed table-hover">
        <tbody><tr>
            <th class="col-md-1">
                Fila
            </th>
            <th class="col-md-10">
            </th>
        </tr>
        <tr>
            <td class="">        
                <span class="label label-primary">01</span>
            </td>
            <td>
                        <button id="1_1" class="btn btn-xs btn-success" onclick="toggleSeat(1, 1)">01</button>
                        <button id="1_2" class="btn btn-xs btn-success" onclick="toggleSeat(1, 2)">02</button>
                        <button id="1_3" class="btn btn-xs btn-success" onclick="toggleSeat(1, 3)">03</button>
                        <button id="1_4" class="btn btn-xs btn-success" onclick="toggleSeat(1, 4)">04</button>
                        <button id="1_5" class="btn btn-xs btn-success" onclick="toggleSeat(1, 5)">05</button>
                        <button id="1_6" class="btn btn-xs btn-success" onclick="toggleSeat(1, 6)">06</button>
                        <button id="1_7" class="btn btn-xs btn-success" onclick="toggleSeat(1, 7)">07</button>
                        <button id="1_8" class="btn btn-xs btn-success" onclick="toggleSeat(1, 8)">08</button>
                        <button id="1_9" class="btn btn-xs btn-success" onclick="toggleSeat(1, 9)">09</button>
                        <button id="1_10" class="btn btn-xs btn-success" onclick="toggleSeat(1, 10)">10</button>
                        <button id="1_11" class="btn btn-xs btn-success" onclick="toggleSeat(1, 11)">11</button>
                        <button id="1_12" class="btn btn-xs btn-success" onclick="toggleSeat(1, 12)">12</button>
                        <button id="1_13" class="btn btn-xs btn-success" onclick="toggleSeat(1, 13)">13</button>
                        <button id="1_14" class="btn btn-xs btn-success" onclick="toggleSeat(1, 14)">14</button>
                        <button id="1_15" class="btn btn-xs btn-success" onclick="toggleSeat(1, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td class="">        
                <span class="label label-primary">02</span>
            </td>
            <td>
                        <button id="2_1" class="btn btn-xs btn-success" onclick="toggleSeat(2, 1)">01</button>
                        <button id="2_2" class="btn btn-xs btn-success" onclick="toggleSeat(2, 2)">02</button>
                        <button id="2_3" class="btn btn-xs btn-success" onclick="toggleSeat(2, 3)">03</button>
                        <button id="2_4" class="btn btn-xs btn-success" onclick="toggleSeat(2, 4)">04</button>
                        <button id="2_5" class="btn btn-xs btn-success" onclick="toggleSeat(2, 5)">05</button>
                        <button id="2_6" class="btn btn-xs btn-success" onclick="toggleSeat(2, 6)">06</button>
                        <button class="btn btn-xs btn-default" disabled="">07</button>
                        <button class="btn btn-xs btn-default" disabled="">08</button>
                        <button class="btn btn-xs btn-default" disabled="">09</button>
                        <button id="2_10" class="btn btn-xs btn-success" onclick="toggleSeat(2, 10)">10</button>
                        <button id="2_11" class="btn btn-xs btn-success" onclick="toggleSeat(2, 11)">11</button>
                        <button id="2_12" class="btn btn-xs btn-success" onclick="toggleSeat(2, 12)">12</button>
                        <button id="2_13" class="btn btn-xs btn-success" onclick="toggleSeat(2, 13)">13</button>
                        <button id="2_14" class="btn btn-xs btn-success" onclick="toggleSeat(2, 14)">14</button>
                        <button id="2_15" class="btn btn-xs btn-success" onclick="toggleSeat(2, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">03</span>
            </td>
            <td>
                        <button id="3_1" class="btn btn-xs btn-success" onclick="toggleSeat(3, 1)">01</button>
                        <button id="3_2" class="btn btn-xs btn-success" onclick="toggleSeat(3, 2)">02</button>
                        <button id="3_3" class="btn btn-xs btn-success" onclick="toggleSeat(3, 3)">03</button>
                        <button id="3_4" class="btn btn-xs btn-success" onclick="toggleSeat(3, 4)">04</button>
                        <button id="3_5" class="btn btn-xs btn-success" onclick="toggleSeat(3, 5)">05</button>
                        <button id="3_6" class="btn btn-xs btn-success" onclick="toggleSeat(3, 6)">06</button>
                        <button id="3_7" class="btn btn-xs btn-success" onclick="toggleSeat(3, 7)">07</button>
                        <button id="3_8" class="btn btn-xs btn-success" onclick="toggleSeat(3, 8)">08</button>
                        <button id="3_9" class="btn btn-xs btn-success" onclick="toggleSeat(3, 9)">09</button>
                        <button id="3_10" class="btn btn-xs btn-success" onclick="toggleSeat(3, 10)">10</button>
                        <button id="3_11" class="btn btn-xs btn-success" onclick="toggleSeat(3, 11)">11</button>
                        <button id="3_12" class="btn btn-xs btn-success" onclick="toggleSeat(3, 12)">12</button>
                        <button id="3_13" class="btn btn-xs btn-success" onclick="toggleSeat(3, 13)">13</button>
                        <button id="3_14" class="btn btn-xs btn-success" onclick="toggleSeat(3, 14)">14</button>
                        <button id="3_15" class="btn btn-xs btn-success" onclick="toggleSeat(3, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">04</span>
            </td>
            <td>
                        <button id="4_1" class="btn btn-xs btn-success" onclick="toggleSeat(4, 1)">01</button>
                        <button id="4_2" class="btn btn-xs btn-success" onclick="toggleSeat(4, 2)">02</button>
                        <button id="4_3" class="btn btn-xs btn-success" onclick="toggleSeat(4, 3)">03</button>
                        <button id="4_4" class="btn btn-xs btn-success" onclick="toggleSeat(4, 4)">04</button>
                        <button id="4_5" class="btn btn-xs btn-success" onclick="toggleSeat(4, 5)">05</button>
                        <button id="4_6" class="btn btn-xs btn-success" onclick="toggleSeat(4, 6)">06</button>
                        <button id="4_7" class="btn btn-xs btn-success" onclick="toggleSeat(4, 7)">07</button>
                        <button id="4_8" class="btn btn-xs btn-success" onclick="toggleSeat(4, 8)">08</button>
                        <button id="4_9" class="btn btn-xs btn-success" onclick="toggleSeat(4, 9)">09</button>
                        <button id="4_10" class="btn btn-xs btn-success" onclick="toggleSeat(4, 10)">10</button>
                        <button id="4_11" class="btn btn-xs btn-success" onclick="toggleSeat(4, 11)">11</button>
                        <button id="4_12" class="btn btn-xs btn-success" onclick="toggleSeat(4, 12)">12</button>
                        <button id="4_13" class="btn btn-xs btn-success" onclick="toggleSeat(4, 13)">13</button>
                        <button id="4_14" class="btn btn-xs btn-success" onclick="toggleSeat(4, 14)">14</button>
                        <button id="4_15" class="btn btn-xs btn-success" onclick="toggleSeat(4, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">05</span>
            </td>
            <td>
                        <button id="5_1" class="btn btn-xs btn-success" onclick="toggleSeat(5, 1)">01</button>
                        <button class="btn btn-xs btn-default" disabled="">02</button>
                        <button class="btn btn-xs btn-default" disabled="">03</button>
                        <button class="btn btn-xs btn-default" disabled="">04</button>
                        <button class="btn btn-xs btn-default" disabled="">05</button>
                        <button id="5_6" class="btn btn-xs btn-success" onclick="toggleSeat(5, 6)">06</button>
                        <button id="5_7" class="btn btn-xs btn-success" onclick="toggleSeat(5, 7)">07</button>
                        <button id="5_8" class="btn btn-xs btn-success" onclick="toggleSeat(5, 8)">08</button>
                        <button id="5_9" class="btn btn-xs btn-success" onclick="toggleSeat(5, 9)">09</button>
                        <button id="5_10" class="btn btn-xs btn-success" onclick="toggleSeat(5, 10)">10</button>
                        <button id="5_11" class="btn btn-xs btn-success" onclick="toggleSeat(5, 11)">11</button>
                        <button id="5_12" class="btn btn-xs btn-success" onclick="toggleSeat(5, 12)">12</button>
                        <button id="5_13" class="btn btn-xs btn-success" onclick="toggleSeat(5, 13)">13</button>
                        <button id="5_14" class="btn btn-xs btn-success" onclick="toggleSeat(5, 14)">14</button>
                        <button id="5_15" class="btn btn-xs btn-success" onclick="toggleSeat(5, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">06</span>
            </td>
            <td>
                        <button class="btn btn-xs btn-default" disabled="">01</button>
                        <button class="btn btn-xs btn-default" disabled="">02</button>
                        <button class="btn btn-xs btn-default" disabled="">03</button>
                        <button class="btn btn-xs btn-default" disabled="">04</button>
                        <button id="6_5" class="btn btn-xs btn-success" onclick="toggleSeat(6, 5)">05</button>
                        <button id="6_6" class="btn btn-xs btn-success" onclick="toggleSeat(6, 6)">06</button>
                        <button id="6_7" class="btn btn-xs btn-success" onclick="toggleSeat(6, 7)">07</button>
                        <button id="6_8" class="btn btn-xs btn-success" onclick="toggleSeat(6, 8)">08</button>
                        <button id="6_9" class="btn btn-xs btn-success" onclick="toggleSeat(6, 9)">09</button>
                        <button id="6_10" class="btn btn-xs btn-success" onclick="toggleSeat(6, 10)">10</button>
                        <button id="6_11" class="btn btn-xs btn-success" onclick="toggleSeat(6, 11)">11</button>
                        <button id="6_12" class="btn btn-xs btn-success" onclick="toggleSeat(6, 12)">12</button>
                        <button id="6_13" class="btn btn-xs btn-success" onclick="toggleSeat(6, 13)">13</button>
                        <button id="6_14" class="btn btn-xs btn-success" onclick="toggleSeat(6, 14)">14</button>
                        <button id="6_15" class="btn btn-xs btn-success" onclick="toggleSeat(6, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">07</span>
            </td>
            <td>
                        <button id="7_1" class="btn btn-xs btn-success" onclick="toggleSeat(7, 1)">01</button>
                        <button class="btn btn-xs btn-default" disabled="">02</button>
                        <button class="btn btn-xs btn-default" disabled="">03</button>
                        <button id="7_4" class="btn btn-xs btn-success" onclick="toggleSeat(7, 4)">04</button>
                        <button id="7_5" class="btn btn-xs btn-success" onclick="toggleSeat(7, 5)">05</button>
                        <button id="7_6" class="btn btn-xs btn-success" onclick="toggleSeat(7, 6)">06</button>
                        <button id="7_7" class="btn btn-xs btn-success" onclick="toggleSeat(7, 7)">07</button>
                        <button id="7_8" class="btn btn-xs btn-success" onclick="toggleSeat(7, 8)">08</button>
                        <button id="7_9" class="btn btn-xs btn-success" onclick="toggleSeat(7, 9)">09</button>
                        <button id="7_10" class="btn btn-xs btn-success" onclick="toggleSeat(7, 10)">10</button>
                        <button id="7_11" class="btn btn-xs btn-success" onclick="toggleSeat(7, 11)">11</button>
                        <button id="7_12" class="btn btn-xs btn-success" onclick="toggleSeat(7, 12)">12</button>
                        <button id="7_13" class="btn btn-xs btn-success" onclick="toggleSeat(7, 13)">13</button>
                        <button id="7_14" class="btn btn-xs btn-success" onclick="toggleSeat(7, 14)">14</button>
                        <button id="7_15" class="btn btn-xs btn-success" onclick="toggleSeat(7, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">08</span>
            </td>
            <td>
                        <button id="8_1" class="btn btn-xs btn-success" onclick="toggleSeat(8, 1)">01</button>
                        <button id="8_2" class="btn btn-xs btn-success" onclick="toggleSeat(8, 2)">02</button>
                        <button id="8_3" class="btn btn-xs btn-success" onclick="toggleSeat(8, 3)">03</button>
                        <button id="8_4" class="btn btn-xs btn-success" onclick="toggleSeat(8, 4)">04</button>
                        <button id="8_5" class="btn btn-xs btn-success" onclick="toggleSeat(8, 5)">05</button>
                        <button id="8_6" class="btn btn-xs btn-success" onclick="toggleSeat(8, 6)">06</button>
                        <button class="btn btn-xs btn-default" disabled="">07</button>
                        <button class="btn btn-xs btn-default" disabled="">08</button>
                        <button id="8_9" class="btn btn-xs btn-success" onclick="toggleSeat(8, 9)">09</button>
                        <button id="8_10" class="btn btn-xs btn-success" onclick="toggleSeat(8, 10)">10</button>
                        <button id="8_11" class="btn btn-xs btn-success" onclick="toggleSeat(8, 11)">11</button>
                        <button id="8_12" class="btn btn-xs btn-success" onclick="toggleSeat(8, 12)">12</button>
                        <button id="8_13" class="btn btn-xs btn-success" onclick="toggleSeat(8, 13)">13</button>
                        <button id="8_14" class="btn btn-xs btn-success" onclick="toggleSeat(8, 14)">14</button>
                        <button id="8_15" class="btn btn-xs btn-success" onclick="toggleSeat(8, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">09</span>
            </td>
            <td>
                        <button id="9_1" class="btn btn-xs btn-success" onclick="toggleSeat(9, 1)">01</button>
                        <button id="9_2" class="btn btn-xs btn-success" onclick="toggleSeat(9, 2)">02</button>
                        <button id="9_3" class="btn btn-xs btn-success" onclick="toggleSeat(9, 3)">03</button>
                        <button id="9_4" class="btn btn-xs btn-success" onclick="toggleSeat(9, 4)">04</button>
                        <button id="9_5" class="btn btn-xs btn-success" onclick="toggleSeat(9, 5)">05</button>
                        <button id="9_6" class="btn btn-xs btn-success" onclick="toggleSeat(9, 6)">06</button>
                        <button id="9_7" class="btn btn-xs btn-success" onclick="toggleSeat(9, 7)">07</button>
                        <button id="9_8" class="btn btn-xs btn-success" onclick="toggleSeat(9, 8)">08</button>
                        <button id="9_9" class="btn btn-xs btn-success" onclick="toggleSeat(9, 9)">09</button>
                        <button id="9_10" class="btn btn-xs btn-success" onclick="toggleSeat(9, 10)">10</button>
                        <button id="9_11" class="btn btn-xs btn-success" onclick="toggleSeat(9, 11)">11</button>
                        <button id="9_12" class="btn btn-xs btn-success" onclick="toggleSeat(9, 12)">12</button>
                        <button id="9_13" class="btn btn-xs btn-success" onclick="toggleSeat(9, 13)">13</button>
                        <button id="9_14" class="btn btn-xs btn-success" onclick="toggleSeat(9, 14)">14</button>
                        <button id="9_15" class="btn btn-xs btn-success" onclick="toggleSeat(9, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">10</span>
            </td>
            <td>
                        <button id="10_1" class="btn btn-xs btn-success" onclick="toggleSeat(10, 1)">01</button>
                        <button id="10_2" class="btn btn-xs btn-success" onclick="toggleSeat(10, 2)">02</button>
                        <button id="10_3" class="btn btn-xs btn-success" onclick="toggleSeat(10, 3)">03</button>
                        <button id="10_4" class="btn btn-xs btn-success" onclick="toggleSeat(10, 4)">04</button>
                        <button id="10_5" class="btn btn-xs btn-success" onclick="toggleSeat(10, 5)">05</button>
                        <button id="10_6" class="btn btn-xs btn-success" onclick="toggleSeat(10, 6)">06</button>
                        <button id="10_7" class="btn btn-xs btn-success" onclick="toggleSeat(10, 7)">07</button>
                        <button id="10_8" class="btn btn-xs btn-success" onclick="toggleSeat(10, 8)">08</button>
                        <button id="10_9" class="btn btn-xs btn-success" onclick="toggleSeat(10, 9)">09</button>
                        <button id="10_10" class="btn btn-xs btn-success" onclick="toggleSeat(10, 10)">10</button>
                        <button id="10_11" class="btn btn-xs btn-success" onclick="toggleSeat(10, 11)">11</button>
                        <button id="10_12" class="btn btn-xs btn-success" onclick="toggleSeat(10, 12)">12</button>
                        <button id="10_13" class="btn btn-xs btn-success" onclick="toggleSeat(10, 13)">13</button>
                        <button id="10_14" class="btn btn-xs btn-success" onclick="toggleSeat(10, 14)">14</button>
                        <button id="10_15" class="btn btn-xs btn-success" onclick="toggleSeat(10, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">11</span>
            </td>
            <td>
                        <button id="11_1" class="btn btn-xs btn-success" onclick="toggleSeat(11, 1)">01</button>
                        <button id="11_2" class="btn btn-xs btn-success" onclick="toggleSeat(11, 2)">02</button>
                        <button id="11_3" class="btn btn-xs btn-success" onclick="toggleSeat(11, 3)">03</button>
                        <button id="11_4" class="btn btn-xs btn-success" onclick="toggleSeat(11, 4)">04</button>
                        <button id="11_5" class="btn btn-xs btn-success" onclick="toggleSeat(11, 5)">05</button>
                        <button id="11_6" class="btn btn-xs btn-success" onclick="toggleSeat(11, 6)">06</button>
                        <button id="11_7" class="btn btn-xs btn-success" onclick="toggleSeat(11, 7)">07</button>
                        <button id="11_8" class="btn btn-xs btn-success" onclick="toggleSeat(11, 8)">08</button>
                        <button id="11_9" class="btn btn-xs btn-success" onclick="toggleSeat(11, 9)">09</button>
                        <button id="11_10" class="btn btn-xs btn-success" onclick="toggleSeat(11, 10)">10</button>
                        <button id="11_11" class="btn btn-xs btn-success" onclick="toggleSeat(11, 11)">11</button>
                        <button id="11_12" class="btn btn-xs btn-success" onclick="toggleSeat(11, 12)">12</button>
                        <button id="11_13" class="btn btn-xs btn-success" onclick="toggleSeat(11, 13)">13</button>
                        <button id="11_14" class="btn btn-xs btn-success" onclick="toggleSeat(11, 14)">14</button>
                        <button id="11_15" class="btn btn-xs btn-success" onclick="toggleSeat(11, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">12</span>
            </td>
            <td>
                        <button id="12_1" class="btn btn-xs btn-success" onclick="toggleSeat(12, 1)">01</button>
                        <button id="12_2" class="btn btn-xs btn-success" onclick="toggleSeat(12, 2)">02</button>
                        <button id="12_3" class="btn btn-xs btn-success" onclick="toggleSeat(12, 3)">03</button>
                        <button id="12_4" class="btn btn-xs btn-success" onclick="toggleSeat(12, 4)">04</button>
                        <button id="12_5" class="btn btn-xs btn-success" onclick="toggleSeat(12, 5)">05</button>
                        <button id="12_6" class="btn btn-xs btn-success" onclick="toggleSeat(12, 6)">06</button>
                        <button id="12_7" class="btn btn-xs btn-success" onclick="toggleSeat(12, 7)">07</button>
                        <button id="12_8" class="btn btn-xs btn-success" onclick="toggleSeat(12, 8)">08</button>
                        <button id="12_9" class="btn btn-xs btn-success" onclick="toggleSeat(12, 9)">09</button>
                        <button id="12_10" class="btn btn-xs btn-success" onclick="toggleSeat(12, 10)">10</button>
                        <button id="12_11" class="btn btn-xs btn-success" onclick="toggleSeat(12, 11)">11</button>
                        <button id="12_12" class="btn btn-xs btn-success" onclick="toggleSeat(12, 12)">12</button>
                        <button id="12_13" class="btn btn-xs btn-success" onclick="toggleSeat(12, 13)">13</button>
                        <button id="12_14" class="btn btn-xs btn-success" onclick="toggleSeat(12, 14)">14</button>
                        <button id="12_15" class="btn btn-xs btn-success" onclick="toggleSeat(12, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">13</span>
            </td>
            <td>
                        <button id="13_1" class="btn btn-xs btn-success" onclick="toggleSeat(13, 1)">01</button>
                        <button id="13_2" class="btn btn-xs btn-success" onclick="toggleSeat(13, 2)">02</button>
                        <button id="13_3" class="btn btn-xs btn-success" onclick="toggleSeat(13, 3)">03</button>
                        <button id="13_4" class="btn btn-xs btn-success" onclick="toggleSeat(13, 4)">04</button>
                        <button id="13_5" class="btn btn-xs btn-success" onclick="toggleSeat(13, 5)">05</button>
                        <button id="13_6" class="btn btn-xs btn-success" onclick="toggleSeat(13, 6)">06</button>
                        <button id="13_7" class="btn btn-xs btn-success" onclick="toggleSeat(13, 7)">07</button>
                        <button id="13_8" class="btn btn-xs btn-success" onclick="toggleSeat(13, 8)">08</button>
                        <button id="13_9" class="btn btn-xs btn-success" onclick="toggleSeat(13, 9)">09</button>
                        <button id="13_10" class="btn btn-xs btn-success" onclick="toggleSeat(13, 10)">10</button>
                        <button id="13_11" class="btn btn-xs btn-success" onclick="toggleSeat(13, 11)">11</button>
                        <button id="13_12" class="btn btn-xs btn-success" onclick="toggleSeat(13, 12)">12</button>
                        <button id="13_13" class="btn btn-xs btn-success" onclick="toggleSeat(13, 13)">13</button>
                        <button id="13_14" class="btn btn-xs btn-success" onclick="toggleSeat(13, 14)">14</button>
                        <button id="13_15" class="btn btn-xs btn-success" onclick="toggleSeat(13, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">14</span>
            </td>
            <td>
                        <button id="14_1" class="btn btn-xs btn-success" onclick="toggleSeat(14, 1)">01</button>
                        <button id="14_2" class="btn btn-xs btn-success" onclick="toggleSeat(14, 2)">02</button>
                        <button id="14_3" class="btn btn-xs btn-success" onclick="toggleSeat(14, 3)">03</button>
                        <button id="14_4" class="btn btn-xs btn-success" onclick="toggleSeat(14, 4)">04</button>
                        <button id="14_5" class="btn btn-xs btn-success" onclick="toggleSeat(14, 5)">05</button>
                        <button id="14_6" class="btn btn-xs btn-success" onclick="toggleSeat(14, 6)">06</button>
                        <button id="14_7" class="btn btn-xs btn-success" onclick="toggleSeat(14, 7)">07</button>
                        <button id="14_8" class="btn btn-xs btn-success" onclick="toggleSeat(14, 8)">08</button>
                        <button id="14_9" class="btn btn-xs btn-success" onclick="toggleSeat(14, 9)">09</button>
                        <button id="14_10" class="btn btn-xs btn-success" onclick="toggleSeat(14, 10)">10</button>
                        <button id="14_11" class="btn btn-xs btn-success" onclick="toggleSeat(14, 11)">11</button>
                        <button id="14_12" class="btn btn-xs btn-success" onclick="toggleSeat(14, 12)">12</button>
                        <button id="14_13" class="btn btn-xs btn-success" onclick="toggleSeat(14, 13)">13</button>
                        <button id="14_14" class="btn btn-xs btn-success" onclick="toggleSeat(14, 14)">14</button>
                        <button id="14_15" class="btn btn-xs btn-success" onclick="toggleSeat(14, 15)">15</button>
            </td>
        </tr>
        <tr>
            <td>        
                <span class="label label-primary">15</span>
            </td>
            <td>
                        <button id="15_1" class="btn btn-xs btn-success" onclick="toggleSeat(15, 1)">01</button>
                        <button id="15_2" class="btn btn-xs btn-success" onclick="toggleSeat(15, 2)">02</button>
                        <button id="15_3" class="btn btn-xs btn-success" onclick="toggleSeat(15, 3)">03</button>
                        <button id="15_4" class="btn btn-xs btn-success" onclick="toggleSeat(15, 4)">04</button>
                        <button id="15_5" class="btn btn-xs btn-success" onclick="toggleSeat(15, 5)">05</button>
                        <button id="15_6" class="btn btn-xs btn-success" onclick="toggleSeat(15, 6)">06</button>
                        <button id="15_7" class="btn btn-xs btn-success" onclick="toggleSeat(15, 7)">07</button>
                        <button id="15_8" class="btn btn-xs btn-success" onclick="toggleSeat(15, 8)">08</button>
                        <button id="15_9" class="btn btn-xs btn-success" onclick="toggleSeat(15, 9)">09</button>
                        <button id="15_10" class="btn btn-xs btn-success" onclick="toggleSeat(15, 10)">10</button>
                        <button id="15_11" class="btn btn-xs btn-success" onclick="toggleSeat(15, 11)">11</button>
                        <button id="15_12" class="btn btn-xs btn-success" onclick="toggleSeat(15, 12)">12</button>
                        <button id="15_13" class="btn btn-xs btn-success" onclick="toggleSeat(15, 13)">13</button>
                        <button id="15_14" class="btn btn-xs btn-success" onclick="toggleSeat(15, 14)">14</button>
                        <button id="15_15" class="btn btn-xs btn-success" onclick="toggleSeat(15, 15)">15</button>
            </td>
        </tr>
    </tbody></table>
</div>

        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        $(function () { setActiveMenuItem("TicketSellingMenuItem"); });
    </script>
}